body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    height: calc(100vh - 3px);
}
main {
    height: 100%;
}
.void {
    padding-bottom: 10vh;
}
.title {
    font-size: 9rem;
    height: 173px;
}
.outside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #173416a6;
    height: 100%;
    z-index: 11111;
    /*------------------------------------------------------------------------------------------------*/
    visibility: hidden;
    opacity: 0;
    /*------------------------------------------------------------------------------------------------*/
    transition: .4s ease;
}

.inside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: .4s ease;
    overflow-y: scroll;
}
.custom-modal {
    padding: 30px;
    background: white;
    max-width: 1200px;
    position: relative;
    top: 25%;
    transform: translate(-50%, 0);
    left: 50%;
}
.show {
    visibility: visible;
    opacity: 1;
}
.show-top {
    top: -5%;
    height: 105%;
}
.table th {
    vertical-align: middle;
}
.mr-1 {
    margin-right: 1rem;
}
.pc-0-5 {
    padding: 0.5rem;
}
.exit {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: -60px;
    transform: translateX(-50%);
}
li.page-item {
    cursor: pointer;
}
li.page-item.disabled, li.page-item.active {
    cursor: auto;
}
